* {
	margin: 0px;
	padding: 0px;
}


html {
	background: url(bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.row {
	width: 30%;
	min-width: 300px;
	margin-left: 2.5%;
	margin-top: 3%;
	float: left;
}

.box {
	width: 100%;
	border: 1px solid #000;
	margin-bottom: 3%;
	background: rgba(255,255,255,0.9);
	border-radius: 30px;
}

.box-header {
	width: 100%;
	background: rgba(102,255,204,0.7);
	text-align: center;
	border-bottom: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	
}

.box-body {
	padding: 10px;
}

.input-adr {
	width: 100%;
	margin-bottom: 10px;
	height: 25px;
}

.button {
	width: 100%;
	border: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	margin-bottom: 3%;
	background: #fff;
	border-radius: 30px;
}
h1 {
	text-align:center;
	color: #fff;
	text-shadow: 2px 2px #000;
	
}